{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}

<div id="content-listing">
  {{ range $movie := .Any }}
  <div class="item-poster">
    <a title="{{ $movie.Title }}" href="/movie?id={{ $movie.Id }}"> <img style="width:200px" src="/assets/images/{{ $movie.Image }}" alt=""></a>
    <div class="infos">
      <code> {{ $movie.Title }} </code>
      <span> {{ $movie.Imdb_Rating }}  </span>
      <span> {{ $movie.Genre }} </span>
      <div class="y">{{ $movie.Launch_Date }}</div>
    </div>
    </div>
  {{ end }}
</div>

{{ end }}
