{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}


<script>
function check_comment(){
    $(`form`).on('submit',(e)=>{
	if (!$.trim($("textarea").val())) {
	$(`.flag`).text("Insert a comment").addClass("alert alert-danger")
	e.preventDefault();
      }
  });
}

function check_radio_buttons(){
    $(`form`).on('submit',(e)=>{
	$(`input[type="radio"]`).each(function(){
            var name = $(this).attr("name");
            if($(`input:radio[name="${name}"]:checked`).length == 0){
		console.log("asd");
                $(`.flag`).text("Choose Bruno or Rafaela").addClass("alert alert-danger")
                e.preventDefault();
            }
        });
    });
}

</script>

{{ range $movie := .Any }}
    <div class="container">
        <div class="jumbotron" style="padding: 1em; padding-right: 37px; padding-left: 2em; text-align: left; height: 210px">
        <img src="/assets/a.jpg" align="right">
        <h2> {{ $movie.Title }}</h2>
	<p>
	  Jessica, a single parent, owner of a struggling diner, finds the inspiration she needed when her high school boyfriend, Chase, a professional baseball player returns to town.
	</p>
      </div>

        <div class="col-lg-6">
          <h4>Sinopse</h4>
	  <p>
	   Jessica, a single parent, owner of a struggling diner, finds the inspiration she needed when her high school boyfriend, Chase, a professional baseball player returns to town.
	  </p>

          <h4>Genre</h4>
	  <p>
	    {{ $movie.Genre }}
	  </p>

          <h4>Imdb_Rating</h4>
	  <p>
	  <code>{{ $movie.Imdb_Rating }}</code>
	  </p>

	  <h4>Launch Date</h4>
	  <p>
	    {{ $movie.Launch_Date }}
	  </p>

	  <h4>View Date</h4>
	  <p>
	    {{ $movie.View_Date }}
	  </p>
	</div>

        <div class="col-lg-6">
	  <h4> Comments /Ratings </h4>
	  {{ $length := len $movie.MovieRating }}
	  {{ if eq $length  0 }}
	  <p> No comments found for now / <code> No ratings found for now </code> </p>
	  {{ end }}
	  {{ if eq $length 1 }}
	  <p> {{ (index $movie.MovieRating 0).UserName }} said: <i>{{ (index $movie.MovieRating 0).Comments }}</i> / <code>{{ (index $movie.MovieRating 0).Rating }}</code></p>
	  {{ end }}
	  {{ if gt $length 1 }}
	  {{ range $c := $movie.MovieRating }}
	  <p> {{ $c.UserName }} said: <i>{{ $c.Comments }}</i> / <code>{{ $c.Rating }}</code></p>
	  {{ end }}
	  {{ end }}
        </div>
	
    </div>
    {{ end }}

<div class ="container">
   <article class="media content-section" id="group_1">
        <form method="POST" id="save_comments">
        <div class="form-group p-3">
            <label for="exampleFormControlTextarea1">Comment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="area_1" rows="3" value="area_1"></textarea>
        </div>

        <fieldset id="group">
          <div class="form-check form-check-inline">
	    <input class="form-check-input" type="radio" name="group_1" id="radio_1" value="Bruno">
	    <label class="form-check-label" for="radio_1">Bruno</label>
          </div>
          <div class="form-check form-check-inline">
	    <input class="form-check-input" type="radio" name="group_1" id="radio_1" value="Rafaela">
	    <label class="form-check-label" for="radio_1">Rafaela</label>
          </div>
        </fieldset>
	<br>
	
	<label for="rating">Choose a rating</label>
	<select name="ratings" id="ratings">
	  <option value="1">WTF</option>
	  <option value="2">Realy Realy Bad</option>
	  <option value="3">Realy Bad</option>
	  <option value="4">Bad</option>
	  <option value="5">Meh</option>
	  <option value="6">Not that bad</option>
	  <option value="7">Good</option>
	  <option value="8">Very good</option>
	  <option value="9">Awesome</option>
 	  <option value="10">Masterpiece</option>
	</select>
</div>
<p class="flag"></p>

</article>
</form>

<div class="form-group pull-right">
    <button onclick="check_radio_buttons(); check_comment();" class="btn btn-outline-info" type="submit" form="save_comments" name="Submit">Submit</button>
</div>

</div>
{{ end }}
