{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}

<script>
  function remove_entry(){
      var entry = {id:event.srcElement.id};

      fetch(`${window.origin}/api/ptw`,{
	  method: "DELETE",
	  credentials: "include",
	  body: JSON.stringify(entry),
	  cache: "no-cache",
	  headers: new Headers({
	      "content-type":"application/json"
	  })
      }).then(window.location.href = `${window.origin}/ptw`)
  }
</script>

<div class="container ">
  <div class="d-flex justify-content-center p-1">
  </div>
  <div class="d-flex justify-content-center text-center p-1">
    <div align="left">
      <h3>Insert new plan to watch</h3>
      <form method="POST" id="newptw">
	<label for="ptwname"><h4>Name </h4></label>
	<input type="text" id="ptwname" name="ptwname" value="" required><br>
	<label for="category">Choose a Category </label>
	<select name="categories" id="categories" required>
	  <option selected disabled hidden></option>
	  <option value="1" >Movie</option>
	  <option value="2" >Serie</option>
	  <option value="3" >Anime</option>
	</select>
      </form>
      <br>
      <div class="form-group">
	<button class="btn btn-outline-info" type="submit" form="newptw" onclick="remove_entry();" name="Submit">Add</button>
      </div>
    </div>
    <hr>

    <h3 align="left"> Movies </h3>
    <table>
      {{ range $movie := .Any.Movies }}
      <tr>
	<td style="padding-right:10px">{{ $movie.Name }}</td>
	<td>
	  <form>
	    <button style="padding:2px 4px" id={{ $movie.Id }} type="submit" class="btn btn-danger" onclick="remove_entry();">Delete</button>
	  </form>
	</td>

      </tr>
      {{ end }}
    </table>

    <h3 align="left"> Series </h3>
    <table>
      {{ range $serie := .Any.Series }}
      <tr>
	<td style="padding-right:10px">{{ $serie.Name }}</td>
	<td>
	  <form>
	    <button style="padding:2px 4px" id={{ $serie.Id }} type="submit" class="btn btn-danger" onclick="remove_entry();">Delete</button>
	  </form>
	</td>

      </tr>
      {{ end }}
    </table>

    <h3 align="left"> Animes </h3>
    <table>
      {{ range $anime := .Any.Animes }}
      <tr>
	<td style="padding-right:10px">{{ $anime.Name }}</td>
	<td>
	  <form>
	    <button style="padding:2px 4px" id={{ $anime.Id }} type="submit" class="btn btn-danger" onclick="remove_entry();">Delete</button>
	  </form>
	</td>
      </tr>
      {{ end }}
    </table>
    <br>
  </div>
</div>

{{ .Error }}

{{ end }}
