{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}

<div id="content-listing">
  {{ range $serie := .Any }}
  <div class="item-poster">
    <a title="{{ $serie.Title }}" href="{{ $serie.Image }}"> <img style="width: 188px; border: 1px solid black;box-shadow: 1px 2px 5px black" src="{{ $serie.Image }}" alt=""></a>
    <div class="infos">
      <code> {{ $serie.Title }} </code><br>
      <span> Imdb: <b>{{ $serie.Imdb_Rating }} </b> </span>
      <span> Genre: <b>{{ $serie.Genre }}  </b> </span>
      <div class="y">Year: <b>{{ $serie.Launch_Date }}</b></div>
    </div>
    </div>
  {{ end }}
</div>

{{ end }}
