{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}


<div class ="container">
  <form method="POST" id="upload">
    <div class="col-lg-6">
      <label for="sinopse"><h4>Sinopse</h4></label><br>
      <input type="text" id="sinopse" name="sinopse" value=""><br>
      <label for="genre"><h4>Genre</h4></label><br>
      <input type="text" id="genre" name="genre" value=""><br>
      <label for="imdb"><h4>Imdb Rating</h4></label><br>
      <input type="text" id="imdb" name="imdb" value=""><br>
      <label for="ldate"><h4>Launch Date</h4></label><br>
      <input type="date" id="ldate" name="ldate" value=""><br>
      <label for="vdate"><h4>View Date</h4></label><br>
      <input type="date" id="vdate" name="vdate" value=""><br>
      <label for="image"><h4>Image</h4></label><br>
      <input type="file" name="myFile" /><br>
  </form>

  <div class="form-group">
    <button onclick="check_radio_buttons(); check_comment();" class="btn btn-outline-info" type="submit" form="upload" name="Submit">Upload</button>
</div>
  </div>
</div>
<br>
{{ end }}
