{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}

<script>
// function check_inputs(){
//     $(`form`).on('submit',(e)=>{
// 	if ((!$.trim($("textarea").val())) || (!$.trim($("input").val()))){
// 	    console.log("asdsaddsa")
// 	    $(`.flag`).text("Fill all inputs").addClass("alert alert-danger")
// 	    e.preventDefault();
// 	}
//   });
// }

  function ch(){
      $(`form`).on('submit',(e)=>{
	  if ( (!$($('input:text').val()))) {
      $(this).parents('p').addClass('alert alert-danger');
    }
      });
}
</script>



<div class ="container">
  <form enctype="multipart/form-data" method="POST" id="upload">
    <div class="col-lg-6">
      <label for="title"><h4>Title</h4></label><br>
      <input type="text" id="title" name="title" value=""><br>
      
      <label for="exampleFormControlTextarea1"><h4>Sinopse<h4></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="area_1" rows="3" value="area_1"></textarea>
      <label for="genre"><h4>Genre</h4></label><br>
      <input type="text" id="genre" name="genre" value=""><br>
      <label for="imdb"><h4>Imdb Rating</h4></label><br>
      <input type="text" id="imdb" name="imdb" value=""><br>
      <label for="ldate"><h4>Launch Date</h4></label><br>
      <input type="date" id="ldate" name="ldate" value=""><br>
      <label for="vdate"><h4>View Date</h4></label><br>
      <input type="date" id="vdate" name="vdate" value=""><br>
      <label for="image"><h4>Image</h4></label><br>
      <input type="file" name="myFile" /><br>
  </form>

<p class="flag"></p>
  
  <div class="form-group">
    <button onclick="ch();" class="btn btn-outline-info" type="submit" form="upload" name="Submit">Upload</button>
</div>
  </div>
</div>
<br>
{{ end }}
